<html>
	<head>
		<meta charset="utf-8">
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>
		<script src="https://cdn.rawgit.com/download/jQuery-Touch-Events/0.9.0/src/jquery.mobile-events.min.js"></script>
		<script src="https://cdn.rawgit.com/nnattawat/flip/v1.1.2/dist/jquery.flip.min.js"></script>
		<style>
			@import url("/style.css");
			html {
				height: 100%;
			}

			.fz-fill {
				height:100%;
				min-height:100%;
			}
			.fz-container-fluid-pad-10 {
				padding: 10px;
			}
			.fz-vertical-center {
				/* position: absolute;
				top: 50%;
				left:50%;
				transform: translate(-50%,-50%); */
				display: table-cell;
				vertical-align: middle;
			}
			.fz-pad-10 {
				padding:10px;
			}
			body {
				height:100%;
				text-align: center;
				-webkit-touch-callout: none; /* iOS Safari */
				-webkit-user-select: none; /* Safari */
				-khtml-user-select: none; /* Konqueror HTML */
				-moz-user-select: none; /* Firefox */
				-ms-user-select: none; /* Internet Explorer/Edge */
				user-select: none; /* Non-prefixed version, currently
				supported by Chrome and Opera */
			}
			.card {
				width: 90vw;
				height: 60vw;
				text-align: center;
				margin-left: auto;
				margin-right: auto;
				margin-top: 5vw;
				margin-bottom: 5vw;
			}
			.front {
				/*border: 1px solid #900;*/
				background-color: #6F7F72;
				color: #C7BCA0;
				/*padding: 10px;*/
				padding-top: 3vw;
				border-radius: 2vw;
				font-size: 20vw;
				vertical-align: middle;
			}
			.back {
				/*border: 1px solid #900;*/
				background-color: #C7BCA0;
				color: #6F7F72;
				/*padding: 10px;*/
				padding-top: 3vw;
				border-radius: 2vw;
				font-size: 7vw;
			}
			button {
				border-radius: 50vw;
			}
			a,a:link,a:hover,a:visited {
				font-size: 5vw;
				background-color: #6F7F72;
				color: #C7BCA0;
				display: inline-block;
				margin: 1vw;
				text-decoration: none;

			}
			table {
				margin-left: auto;
				margin-right: auto;
				background-color: #6F7F72;
				color: #C7BCA0;
				border-radius: 1vw;
				text-decoration: none;
			}
			.nav {
				background-color: #6F7F72;
				color: #C7BCA0;
			}
		</style>

	</head>
	<body>
		<div class="nav">
			<a href="/">Main</a>
			<a href="<%= @link %>">Again</a>
		</div>
		<%  %>
		<% @data.each_with_index do |card,i| %>
		<div class="card" id="card_<%= i %>">

			<div class="front" style="display:table;">
				<div class="japanese fz-vertical-center" style="font-size:<%= 23-(card[:kanji].to_s.length)*1.5 %>vw;"><%= card[:kanji.to_s] %></div>
				<div style="right:1vw; bottom:1vw; position:absolute;">
					<img id="card_remove_<%= i %>" src="/line_icons_png/No_icon.png" style="height:9vw; width:9vw;" />
				</div>
			</div>
			<div class="back" style="display:table;">
				<div class="fz-vertical-center">
					<div class="japanese" style="font-size:<%= [7-(card[:kunyomi.to_s].length)*0.75,5].max %>vw;"><%= card[:onyomi.to_s] %></div>
					<div class="japanese" style="font-size:<%= [7-(card[:kunyomi.to_s].length)*0.75,5].max %>vw;"><%= card[:kunyomi.to_s] %></div>
					<div style="font-size:3vw;"><%= card[:translation.to_s] %></div>
					<div style="font-size:3vw;">
						<table>
							<% card[:words.to_s].each do |word| %>
								<tr>
									<td style="font-family:'sazanami-mincho'; font-size:2.5vw; padding:1px;"><%= word['kanji'] %></td>
									<td><%= word['reading'] %></td>
									<td><%= word['translation'] %></td>
								</tr>
							<% end %>
						</table>
					</div>
					
					<!-- <div style="font-size:5vw;">
						<table>
							<tr>
								<td rowspan="3" style="font-family:'sazanami-mincho'; font-size:<%= [7-(card[:kanji.to_s].length)*0.3,3].min %>vw; width:35vw;"><%= card[:k] %></td>
								<td style="font-family:'sazanami-mincho'; font-size:3vw; width:35vw;"><%= card[:reading.to_s] %></td></tr>
								<td style="font-size:2vw;"><%= card[:translation.to_s] %></td>
							</tr>
						</table>
					</div> -->

				</div>
				<div style="right:1vw; bottom:1vw; position:absolute;">
					<img id="card_remove_<%= i %>" src="/line_icons_png/No_icon.png" style="height:9vw; width:9vw;" />
				</div>
			</div>
			<script type="text/javascript">
				$("#card_<%= i %>").flip({
					trigger: 'click',
					reverse: true
				}).on(
					'flip:done',
					function(){
						//alert("otocena karticka");
						console.log("<%= card[:k] %>");
						var formData
						$.ajax({
							url: "url",
							type: "POST",
							data: formData
						});

						}
					);
				$( "#card_remove_<%= i %>").click(function() {
					$( "#card_<%= i %>" ).remove();
					//tuso sa ma cosi stat - zapisat, ze som karticku zmazal/otocil - ajax
				});
			</script>
		</div>
		<% end %>
	</body>

</html>
