<html>
	<head>
		<style>
			body,h1 {
				color:white;
				background-color: black;
				font-family: "Segoe UI", "Segoe WP", "Helvetica Neue", "Roboto", sans-serif;
				font-weight: 100;
				font-size: 5vw;
			}
			form {
				margin-top:2vw;
			}
			input {
				display:block;
				width: 60vw;
				color:white;
				background-color: black;
				border: 1px solid white;
				margin-top:2vw;
				padding: 1vw;
				font-family: "Segoe UI", "Segoe WP", "Helvetica Neue", "Roboto", sans-serif;
				font-weight: 100;
				font-size: 3vw;
			}
			input[type=submit] {
				text-transform: uppercase;
			}
			h1 {
				font-size: 11vw;
				font-weight: 200;
			}
			li {
				list-style: none;
			}
			a,a:link,a:hover,a:visited {
				text-decoration: none;
				color:yellow;
			}
		</style>
	</head>
	<body>
		<div class="nav">
		</div>
		<div class="content">
			<h1>Tools</h1>
			<ul>
				<li><a href="/jisho">Jisho</a></li>
				<li>
					<form method="GET" action="/new_set">
						<input type="text" value="<%= settings.set_name %>" name="set_name" />
						<input type="submit" value="create new set" />
					</form>
				</li>
			</ul>

			<h1>上級へのとびら</h1>
			<ul>
				<% 15.times do |i| %>
					<li>
						<a href="/flip/tobira/<%= i+1 %>">tobira <%= i+1 %></a>
						<% f = "./vocab/tobira/tobira_#{i+1}.tab" %>
						 <a href="/show/<%= Base64.encode64(f) %>">show</a>
					</li>
				<% end %>
			</ul>
			<h1>Tobira Bunpou</h1>
			<ul>
				<% files = Dir.glob("./grammar/tobira/*.tab") %>
				<% files.sort.reverse.each do |f| %>
					<li>
						<a href="/grammar/<%= Base64.encode64(File.basename(f)) %>"><%= File.basename(f,".tab") %></a>
					</li>
				<% end %>
			</ul>

			<h1>Tangorin - most frequent kanji</h1>
			<ul>
				<% 5.times do |i| %>
					<li>
						<a href="/flip/tangorin/<%= i+1 %>">tangorin kanji <%= i+1 %></a>
					</li>
				<% end %>
			</ul>
			<h1>Tangorin - most frequent newspaper kanji</h1>
			<ul>
				<% 5.times do |i| %>
					<li>
						<a href="/flip/tangorin/<%= i+1+20000 %>">tangorin <%= i+1 %></a>
					</li>
				<% end %>
			</ul>

			<h1>N2 - kniha s kanji a prikladovymi vetami po 2 x 25</h1>
			<ul>
				<% Dir.glob("./vocab/N2/*.tab") do |f| %>
					<li>
						<a href="/flip/N2/<%= File.basename(f,".tab") %>"><%= File.basename(f,".tab") %></a>
					</li>
				<% end %>
			</ul>
			<h1>Custom</h1>
			<ul>
				<% files = Dir.glob("./vocab/custom/*.tab") %>
				<% files.sort.reverse.each do |f| %>
					<li>
						<a href="/flip/custom/<%= File.basename(f,".tab") %>"><%= File.basename(f,".tab") %></a>
						 <a href="/show/<%= Base64.encode64(f) %>">show</a>
						 <a href="/learn/<%= Base64.encode64(f) %>">learn</a>
					</li>
				<% end %>
			</ul>
			<h1>Kanji</h1>
			<ul>
				<% files = Dir.glob("./vocab/kanji/*.json") %>
				<% files.sort.reverse.each do |f| %>
					<li>
						<a href="/flip/kanji/<%= File.basename(f,".json") %>"><%= File.basename(f,".json") %></a>
						 <a href="/show/<%= Base64.encode64(f) %>">show</a>
						 <a href="/learn/<%= Base64.encode64(f) %>">learn</a>
					</li>
				<% end %>
			</ul>
		</div>
		<div class="footer">

		</div>
	</body>
</html>
