<div class="navbar-fixed">
	<nav class="teal lighten-2">
		<div class="nav-wrapper">
			<!-- <a href="#!" class="brand-logo">Logo</a> -->
			<ul class="left hide-on-med-and-down">
				<li><a href="/">Main</a></li>
				<li><a href="/jisho">Jisho</a></li>
				<li><a href="/sets">Sets</a></li>
			</ul>
		</div>
	</nav>
</div>

<!-- <diw class="row">
	<div class="col s12">
		<ul class="tabs">
			<li class="tab col s3"><a href="#test1">Test 1</a></li>
			<li class="tab col s3"><a class="active" href="#test2">Test 2</a></li>
			<li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>
			<li class="tab col s3"><a href="#test4">Test 4</a></li>
		</ul>
	</div>
	<div id="test1" class="col s12">Test 1</div>
	<div id="test2" class="col s12">Test 2</div>
	<div id="test3" class="col s12">Test 3</div>
	<div id="test4" class="col s12">Test 4</div>
</diw>
<div class="row">
	<div class="card">
		<div class="card-content">
			<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
		</div>
		<div class="card-tabs">
			<ul class="tabs tabs-fixed-width">
				<li class="tab"><a href="#test4">Test 1</a></li>
				<li class="tab"><a class="active" href="#test5">Test 2</a></li>
				<li class="tab"><a href="#test6">Test 3</a></li>
			</ul>
		</div>
		<div class="card-content grey lighten-4">
			<div id="test4">Test 1</div>
			<div id="test5">Test 2</div>
			<div id="test6">Test 3</div>
		</div>
	</div>
</div> -->
<div class="container">
	<div class="row">

			<a href="/jisho">jisho</a>

	</div>
	<div class="row">
			<h1>上級へのとびら</h1>
			<ul>
				<% 15.times do |i| %>
					<li>
						<a href="/flip/tobira/<%= i+1 %>">tobira <%= i+1 %></a>
					</li>
				<% end %>
			</ul>
	</div>
	<div class="row">
		<h1>Custom</h1>
		<ul>
			<% Dir.glob("./vocab/custom/*.txt") do |f| %>
				<li>
					<a href="/flip/custom/<%= File.basename(f,".txt") %>"><%= File.basename(f,".txt") %></a>
				</li>
			<% end %>
		</ul>
	</div>

</div>
<footer class="page-footer teal lighten-1">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Footer Content</h5>
				<p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Links</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2014 Copyright Text
			<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
		</div>
	</div>
</footer>
