		<div class="navbar-fixed">
			<nav class="teal lighten-2">
				<div class="nav-wrapper">
					<!-- <a href="#!" class="brand-logo">Main Page</a> -->
					<ul class="left">
						<!-- <li><a href="sass.html"></a></li> -->
						<li><a href="/">Main</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="row">
			<form  class="col s12" action="/jisho2" method="post">
				<div class="row">
					<div class="input-field col s6">
						<input id="word" type="text" name="word" autofocus>
					</div>
					<div class="input-field col s6">
						<button class="btn waves-effect waves-light" type="submit" name="action">Submit
							<!-- <i class="material-icons right send"></i> -->
						</button>
					</div>
				</div>
			</form>
		</div>
		<div class="row">
			<diw class="col s12">
				<form action="/save" method="post">
					<input name="word" placeholder="word" /><br />
					<input name="reading" placeholder="reading" /><br />
					<input name="translation" placeholder="meaning" /><br  />
					<button class="btn waves-effect waves-light" type="submit" name="action">+
						<!-- <i class="material-icons right send"></i> -->
					</button>
				</form>
				<% if @h then %>
				<table class="compact">
					<% 	@h.each do |h| %>
						<tr>
							<% h.values.each do |val| %>
							<td><%= val %></td>
							<% end %>
						</tr>
					<% end %>
				</table>
				<% end %>
			</diw>
		</div>
