		<div class="navbar-fixed">
			<nav class="teal lighten-2">
				<div class="nav-wrapper">
					<!-- <a href="#!" class="brand-logo">Main Page</a> -->
					<ul class="left">
						<!-- <li><a href="sass.html"></a></li> -->
						<li><a href="/">Main</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="row black">
			<form  class="col s12" action="/jisho" method="post">
				<div class="row">
					<div class="input-field col s6">
						<input class="yellow-text" id="set_name" type="text" name="set_name" value="<%= @set_name ||= 'default' %>" autofocus>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<input class="yellow-text" id="word" type="text" name="word" autofocus>
					</div>
					<div class="input-field col s6">
						<button class="btn waves-effect waves-light yellow black-text" type="submit" name="action">Submit
							<!-- <i class="material-icons right send"></i> -->
						</button>
					</div>
				</div>
			</form>
		</div>
		<div class="row black">
			<div class="col s12">
					<% if @set then %>
						<%= @set.reverse.map{ |row| r = row.split("\t"); "<ruby>#{!r[0].empty? ? r[0] : r[1]}<rt>#{r[1]}</rt></ruby>" }[0..6].join(" &sdot; ") %>
					<% end %>
			</div>
		</div>
		<div class="row black">
			<diw class="col s12">
				<!-- custom -->
				<form action="/save" method="post">
					<input name="word" placeholder="word" /><br />
					<input name="reading" placeholder="reading" /><br />
					<input name="translation" placeholder="meaning" /><br  />
					<button class="btn waves-effect waves-light" type="submit" name="action">+
						<!-- <i class="material-icons right send"></i> -->
					</button>
				</form>
				<% if @h then %>
				<table class="compact">
					<% 	@h["data"].each do |arr|%>
					<tr>
						<td rowspan="3">
							<!-- that + button -->
							<form action="/save" method="post">
								<input type="hidden" name="word" value="<%= arr["japanese"][0]["word"] %>" />
								<input type="hidden" name="reading" value="<%= arr["japanese"][0]["reading"] %>" />
								<input type="hidden" name="translation" value="<%= arr["senses"][0]["english_definitions"].join("; ") %>" />
								<input type="hidden" name="set_name" value="<%= @set_name || 'default' %>" />
								<button class="btn waves-effect waves-light" type="submit" name="action">+
									<!-- <i class="material-icons right send"></i> -->
								</button>

							</form>
						</td>
						<td><%= arr["japanese"][0]["word"] %></td>
					</tr>
					<tr>
						<td><%= arr["japanese"][0]["reading"] %></td>

					</tr>
					<tr>
						<td><%= arr["senses"][0]["english_definitions"].join("; ") %></td>

					</tr>
					<% end %>
				</table>
				<% end %>
			</diw>
		</div>
