<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
		<style>
			body {
				font-size: 3.5vw;
			}
			h1 {
				font-size: 10vw;
			}
		</style>
	</head>
	<body>
		<%= yield %>
	</body>
	<script type="text/javascript">
		M.AutoInit();
	</script>
</html>
