<html>
	<head>
		<style>
			@import url('https://fonts.googleapis.com/css?family=Open+Sans');
			@font-face {
				font-family: 'AoyagiKouzanFont2OTF'; /*a name to be used later*/
				src: url("../../AoyagiKouzanFont2OTF.otf"); /*URL to font*/
			}
			@font-face {
				font-family: 'kochi-mincho-subs'; /*a name to be used later*/
				src: url("./kochi-mincho-subs.ttf"); /*URL to font*/
			}

			@font-face {
				font-family: 'sazanami-mincho'; /*a name to be used later*/
				src: url("./sazanami-mincho.ttf"); /*URL to font*/
			}
			table {
				border-collapse:collapse;
				page-break-inside:auto;
				width:210mm !important;
			}
			td {
				height:10mm;
				width:10mm !important;
				border:1pt solid black;
				font-size:6.5mm;
				vertical-align:middle;
				text-align:center;
			}
			td.japanese {
				font-family:'AoyagiKouzanFont2OTF';
				/* font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; */
				/* font-family:'kochi-mincho-subs'; */
				/* font-family:'sazanami-mincho'; */
			}
		</style>
	</head>
	<body>
		<%#= `pwd` %>
		<table>
			<% @data.each do |row| %>
				<tr style="page-break-inside:avoid; page-break-after:avoid; page-break-before:auto;">
					<td colspan="8" style="width:80mm">
						<%= row[:k] %>
					</td>
					<td colspan="13" style="font-size:3.5mm; text-align:left; width:130mm;">
						<%= row[:r] %><br />
						<%= row[:t] %>
					</td>
				</tr>
				<% row[:k].split("").each do |k| %>
					<%
						HIRAGANA ||= "あ い う え お か き く け こ さ し す せ そ た ち つ て と な に ぬ ね の は ひ ふ へ ほ ま み む め も や ゆ よ ら り る れ ろ わ ゐ ゑ を ん ゔ が ぎ ぐ げ ご ざ じ ず ぜ ぞ だ ぢ づ で ど ば び ぶ べ ぼ ぱ ぴ ぷ ぺ ぽ ぁ ぃ ぅ ぇ ぉ ゕ ゖ っ ゃ ゅ ょ ゎ"

						KATAKANA ||= "ア イ ウ エ オ カ キ ク ケ コ サ シ ス セ ソ タ チ ツ テ ト ナ ニ ヌ ネ ノ ハ ヒ フ ヘ ホ マ ミ ム メ モ ヤ ユ ヨ ラ リ ル レ ロ ワ ヰ ヱ ヲ ン ヴ ガ ギ グ ゲ ゴ ザ ジ ズ ゼ ゾ ダ ヂ ヅ デ ド バ ビ ブ ベ ボ パ ピ プ ペ ポ ヷ ヸ ヹ ヺ ァ ィ ゥ ェ ォ ヵ ヶ ッ ャ ュ ョ ヮ ー"

						kana = (HIRAGANA+KATAKANA+"〜々").gsub(" ","").split("")
						next if kana.include? k
					%>
					<%# entry = `sqlite3 vocab/tangorin/db.sqlite3 "select * from general where kanji='#{k}'"`.split("|") %>

					<tr><td colspan="21" style="text-align:right; height:5mm;">
						<%=
							begin
								IO.read("./vocab/strokes/#{k}.html").gsub('<line x1="55" y1="0" x2="55" y2="109" style="stroke:#777777; stroke-width:0.5; stroke-dasharray: 4, 4;"></line>',"")
								.gsub('<line x1="0" y1="55" x2="109" y2="55" style="stroke:#777777; stroke-width:0.5; stroke-dasharray: 4, 4;"></line>',"")
								.gsub('fill:none;stroke:#333333;','fill:none;stroke:#000;')
								.gsub('stroke-width:4;"></path>','stroke-width:3;"></path>')
								.gsub('width="52px" height="52px" viewbox="0 0 109 109"','width="5mm" height="5mm" viewbox="0 0 109 109"') if !kana.include? k
							rescue

							end
						%>
					</td></tr>
				<% end %>
				<% row[:k].split("").each do |k| %>
					<%
						HIRAGANA ||= "あ い う え お か き く け こ さ し す せ そ た ち つ て と な に ぬ ね の は ひ ふ へ ほ ま み む め も や ゆ よ ら り る れ ろ わ ゐ ゑ を ん ゔ が ぎ ぐ げ ご ざ じ ず ぜ ぞ だ ぢ づ で ど ば び ぶ べ ぼ ぱ ぴ ぷ ぺ ぽ ぁ ぃ ぅ ぇ ぉ ゕ ゖ っ ゃ ゅ ょ ゎ"

						KATAKANA ||= "ア イ ウ エ オ カ キ ク ケ コ サ シ ス セ ソ タ チ ツ テ ト ナ ニ ヌ ネ ノ ハ ヒ フ ヘ ホ マ ミ ム メ モ ヤ ユ ヨ ラ リ ル レ ロ ワ ヰ ヱ ヲ ン ヴ ガ ギ グ ゲ ゴ ザ ジ ズ ゼ ゾ ダ ヂ ヅ デ ド バ ビ ブ ベ ボ パ ピ プ ペ ポ ヷ ヸ ヹ ヺ ァ ィ ゥ ェ ォ ヵ ヶ ッ ャ ュ ョ ヮ ー"

						kana = (HIRAGANA+KATAKANA+"〜々").gsub(" ","").split("")
						next if kana.include? k
					%>
					<% entry = `sqlite3 vocab/tangorin/db.sqlite3 "select * from general where kanji='#{k}'"`.split("|") %>
					<tr style="page-break-after:auto; height:10mm">
						<% 13.times do %>
							<td></td>
						<% end %>
						<td style="font-weight:100; font-size:8mm; font-family: 'AoyagiKouzanFont2OTF';"><%= entry[0] %></td>
						<td style="font-size:2mm; font-weight:100; text-align:left; width:70mm;" colspan="7"><%= entry[1] %><br /><%= entry[2] %></td>
					</tr>
				<% end %>
			<% end %>
		</table>
	<body>
</html>
