<form action="/lookup" method="post" style="font-size:12px;margin:10px;">
	<textarea name="data"></textarea>
	<input type="submit" />
</form>
<textarea style="font-size:12px; margin:10px;">
	<%= @data.map{|entry| "#{entry[0].chomp}\t#{entry[1].values.join("\t")}"}.join("\n") if @data %>
</textarea>
