<html>
	<head>
		<style>
			@import url("/style.css");
		</style>
	</head>
	<body>
		<div>
			<%= `pwd` %>
		</div>
		<div class="">
			<ul>
				<li class="tint1">
					text1
				</li>
				<li class="tint2">
					text1
				</li>
				<li class="tint3">
					text1
				</li>
				<li class="tint4">
					text1
				</li>
			</ul>
		</div>
		<span class="tint2" style="font-family:'AoyagiKouzanFont2OTF';">気候</span>
		<span class="tint2" style="font-family:'kochi-mincho-subs';">気候</span>
		<div>
			<table>
				<% @data.each do |row| %>
					<tr class="japanese col-main">
						<td style="font-size:8vw; border-left:7px solid #97bfb7;" rowspan="2">
							<%= row[:k] %>
						</td>
						<td class="tint4" style="font-size:3vw;">
							<%= row[:r] %>
						</td>
					</tr>
					<tr>
						<td class="tint1" style="font-size:2vw;">
							<%= row[:t] %>
						</td>
					</tr>
					<tr>
						<td style="heigh:30vw;">

						</td>
					</tr>
					<% end %>
			</table>
		</div>
		<div>
			<% 15.times do |i| %>
			<div><a href="/mini/<%= i+1 %>"><%= i+1 %></a></div>
			<% end %>
		</div>
	</body>
</html>
