<div class="navbar-fixed">
	<nav class="teal lighten-2">
		<div class="nav-wrapper">
			<!-- <a href="#!" class="brand-logo">Main Page</a> -->
			<ul class="left">
				<!-- <li><a href="sass.html"></a></li> -->
				<li><a href="/">Main</a></li>
			</ul>
		</div>
	</nav>
</div>
<div class="row">
	<form  class="col s12" action="/jisho" method="post">
		<div class="row">
			<div class="input-field col s6">
				<input id="word" type="text" name="word" autofocus>
			</div>
			<div class="input-field col s6">
				<button class="btn waves-effect waves-light" type="submit" name="action">Submit
					<!-- <i class="material-icons right send"></i> -->
				</button>
			</div>
		</div>
	</form>
</div>
<div class="row black">
	<table class="yellow-text">
		<% @data.each do |row| %>
			<tr>
				<td style="white-space: nowrap; font-size:7vw;">
					<!-- <span><ruby><%= row[:k] %><rt><%= row[:r] if row[:k]!=row[:r] %></rt></ruby></span><br /> -->
					<%= row[:k] %>
				</td>
				<td style="font-size:4vw;">
					<div class="amber-text"><%= row[:r] %></div>
					<div class="yellow-text text-lighten-2"><%= row[:t] %></div>

				</td>
			</tr>
			<% row[:k].split("").each do |kanji| %>
				<tr><td colspan="2">
				<%
					HIRAGANA = "あ い う え お か き く け こ さ し す せ そ た ち つ て と な に ぬ ね の は ひ ふ へ ほ ま み む め も や ゆ よ ら り る れ ろ わ ゐ ゑ を ん ゔ が ぎ ぐ げ ご ざ じ ず ぜ ぞ だ ぢ づ で ど ば び ぶ べ ぼ ぱ ぴ ぷ ぺ ぽ ぁ ぃ ぅ ぇ ぉ ゕ ゖ っ ゃ ゅ ょ ゎ"

					KATAKANA = "ア イ ウ エ オ カ キ ク ケ コ サ シ ス セ ソ タ チ ツ テ ト ナ ニ ヌ ネ ノ ハ ヒ フ ヘ ホ マ ミ ム メ モ ヤ ユ ヨ ラ リ ル レ ロ ワ ヰ ヱ ヲ ン ヴ ガ ギ グ ゲ ゴ ザ ジ ズ ゼ ゾ ダ ヂ ヅ デ ド バ ビ ブ ベ ボ パ ピ プ ペ ポ ヷ ヸ ヹ ヺ ァ ィ ゥ ェ ォ ヵ ヶ ッ ャ ュ ョ ヮ ー"

					kana = (HIRAGANA+KATAKANA).gsub(" ","").split("")
				%>
				<%=
					begin
						IO.read("./vocab/strokes/#{kanji}.html").gsub('<line x1="55" y1="0" x2="55" y2="109" style="stroke:#777777; stroke-width:0.5; stroke-dasharray: 4, 4;"></line>',"").gsub('<line x1="0" y1="55" x2="109" y2="55" style="stroke:#777777; stroke-width:0.5; stroke-dasharray: 4, 4;"></line>',"").gsub('fill:none;stroke:#333333;','fill:none;stroke:#aaaaaa;') if !kana.include? kanji
					rescue
					ensure
					end

				%></td></tr>
			<% end %>

		<% end %>
	</table>
</div>
