@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
	font-family: 'AoyagiKouzanFont2OTF'; /*a name to be used later*/
	src: url("AoyagiKouzanFont2OTF.otf"); /*URL to font*/
}
@font-face {
	font-family: 'kochi-mincho-subs'; /*a name to be used later*/
	src: url("kochi-mincho-subs.ttf"); /*URL to font*/
}

@font-face {
	font-family: 'sazanami-mincho'; /*a name to be used later*/
	src: url("sazanami-mincho.ttf"); /*URL to font*/
}

.bg-main {
	background-color: #97bfb7;
}
.col-main {
	color: #97bfb7;
}

.tint1 {
	color: #fce7b8;
}
.tint2 {
	color: #f6c082;
}
.tint3 {
	color: #f89b62;
}
.tint4 {
	color: #ff785b;
}

body {
	background-color:black;
	color:@main-color;
	font-family:'Open Sans', sans-serif;
	font-weight: 100;
}
select {
	font-size: 50px;
}
span {
	font-size: 6vw;
}
td {
	margin-bottom:1vw;
	border-radius: 7px;

}
.japanese {
	/*font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;*/
	/* font-family:'kochi-mincho-subs'; */
	font-family:'AoyagiKouzanFont2OTF';
	/* font-family:'sazanami-mincho'; */
}
