<html>
	<head>
		<style>
			@import url('https://fonts.googleapis.com/css?family=Open+Sans');
			@font-face {
				font-family: 'AoyagiKouzanFont2OTF'; /*a name to be used later*/
				src: url('AoyagiKouzanFont2OTF.otf'); /*URL to font*/
			}
			@font-face {
				font-family: 'kochi-mincho-subs'; /*a name to be used later*/
				src: url('kochi-mincho-subs.ttf'); /*URL to font*/
			}

			.bg-main {
				background-color: #97bfb7;
			}
			.col-main {
				color: #97bfb7;
			}

			.tint1 {
				color: #fce7b8;
			}
			.tint2 {
				color: #f6c082;
			}
			.tint3 {
				color: #f89b62;
			}
			.tint4 {
				color: #ff785b;
			}

			body {
				background-color:white;
				color:@main-color;
				/*font-family:'Open Sans', sans-serif;*/
				font-weight: 100;
			}
			select {
				font-size: 50px;
			}
			span {
				font-size: 6vw;
			}
			td {
				margin-bottom:1vw;
				border-radius: 7px;

			}
			.japanese {
				/*font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;*/
				font-family:"Jap"
			}
		</style>
	</head>
	<body>
		<div>
			<%= `pwd` %>
		</div>
		<div>
			<select>
				<option>
					1
				</option>
			</select>
		</div>
		<span style="font-family:'AoyagiKouzanFont2OTF';">気候</span>
		<span style="font-family:'kochi-mincho-subs';">気候</span>
		<div>
			<table>
				<% @data.each do |row| %>
					<tr class="japanese col-main">
						<td style="font-size:8vw; border-left:7px solid #97bfb7;" rowspan="2">
							<%= row[:k] %>
						</td>
						<td style="font-size:3vw; color:#a00;;">
							<%= row[:r] %>
						</td>
					</tr>
					<tr>
						<td style="font-size:2.5vw; color:#999;">
							<%= row[:t] %>
						</td>
					</tr>
					<tr>
						<td style="heigh:30vw;">

						</td>
					</tr>
				<% end %>
			</table>
		</div>
		<div>
			<table>
				<% @data.each do |row| %>
					<tr>
						<td style="font-size:7vw">
							<%= row[:k] %>
						</td>
					</tr>
					<tr>
						<td style="font-size:5vw; color:#999;">
							<%= row[:r] %>
						</td>
					</tr>
					<tr>
						<td style="font-size:3vw; color:#444;">
							<%= row[:t] %>
						</td>
					</tr>
					<tr>
						<td style="heigh:30vw;">

						</td>
					</tr>
				<% end %>
			</table>
		</div>
	</body>
</html>
